<!DOCTYPE html>
<html lang="en">
    <title>Wafflemakr</title>
<% include header %>
<body>
    <br>
    <p><strong>ABOUT US PAGE...</strong></p>
    <br>
    <p>LTC Price = <%= lastPrice %></p>
</body>
</html>